#img1 {
  height: 20vh;
  width: 100vw;
  background-color: rgba(0, 123, 255, .25)
}

body {
  background-image: url(../img/i_taeyeon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#maincontainer {
  margin-bottom: 0;
  height: 100vh;
}
